{% extends '../../base.html' %}
{% load static %}
{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center">
            <div class="register-container text-center">
                <form method="post" class="account-form">
                    {% csrf_token %}
                    <h3 class='mt-4' style="color: white;">Используйте форму ниже для восстановления вашего пароля</h3>

                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                        Ошибка: попробуйте еще раз!
                    </div>
                    {% endif %}
                    
                    <label style="display:block;" class="my-4">Введите пароль</label>
                    {{ form.new_password1 }}
                    <label style="display:block;" class="my-4">Повторите пароль</label>
                    {{ form.new_password2 }}
                    <p class="mt-2">Ваш пароль должен содержать как минимум 8 символов, включая 1 цифру</p>
                    <br>
                    <button class="btn btn-info my-4 register-button" type="submit" value="Change">Изменить пароль</button>
                    <p class="text-center">
                        <a href="{% url 'account:login' %}" style="text-decoration: none;">Уже есть аккаунт?</a>
                    </p>
                </form>
            </div>
                
        </div>
    </div>
</div>
{% endblock content %}