{% extends '../../base.html' %}
{% load static %}
{% block content %}
<style>
    .register-container input {
        width: 50%;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center">
            <div class="register-container text-center">
                <form action="{% url 'account:pwdreset' %}" method="post" class="account-form">
                    {% csrf_token %}
                    <h3 class='mt-4' style="color: white;">Введите ваш email адрес для восстановления аккаунта</h3>

                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                        Ошибка: попробуйте еще раз!
                    </div>
                    {% endif %}
                    
                    <label style="display:block;" class="my-4">Введите email</label>
                    {{ form.email }}
                    <br>
                    <button class="btn btn-info my-4 register-button" type="submit" value="Send e-mail">Восстановить аккаунт</button>
                    <p class="text-center">
                        <a href="{% url 'account:login' %}" style="text-decoration: none;">Войти</a>
                    </p>
                </form>
            </div>
                
        </div>
    </div>
</div>
{% endblock content %}