{% extends '../../base.html' %}
{% load static %}
    {% block content %}
    <div class="container-fluid basket-container">
        <div class="row basket-row1" style="border:none;">
            <h3 style="margin-bottom: 50px;">Ваши заказы:</h3>
        </div>
        {% for order in orders %}
        <div class="row basket-row1" style="border-top: none;">
            <h3 class='mb-3'>Дата заказа: {{ order.created }}</h3>
            <ul class="dropdown-menu" aria-labelledby="dropdownLink">
                <li class="item small">{{order.full_name}}</li>
                <li class="item small">{{order.address1}}</li>
                <li class="item small">{{order.address2}}</li>
                <li class="item small">{{order.post_code}}</li>
              </ul>
        </div>
        <div class="row basket-row text-center" style='background-color: gray'>
            <div class="col basket-col">
                <p>Товар</p>
            </div>
            <div class="col basket-col">
                <p>Описание</p>
            </div>
            <div class="col basket-col">
                <p>Количество</p>
            </div>
            <div class="col basket-col">
                <p>Цена</p>
            </div>
        </div>
        {% for item in order.items.all %}
        <div class="row basket-row1 text-center" style='margin-bottom: 100px;'>
            <div class="col">
                {% for image in item.product.product_image.all %}
                    {% if image.is_feature %}
                <img src="{{ image.image.url }}" alt="" width='50' height="50">
                    {% endif %}
                {% endfor %}
                <a href="{% url 'index:pc-detail' item.product.id %}" class='text-decoration-none text-reset'><p>{{ item.product.title }}</p></a>
            </div>
            <div class="col">
                <p>{{ item.product.description}}</p>
            </div>
            <div class="col">
                <p>{{ item.quantity }}</p>
            </div>
            <div class="col">
                <p>{{ item.price }} BYN</p>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
    {% endblock content %}