{% extends "base.html" %}
{% block content %}
    <section class="products-section">
    {% for item in products %}
        <div class="products-section-item">
            {% for image in item.product_image.all %}
             {% if image.is_feature %}
            <img src="{{ image.image.url }}" alt="" width='330' height='330'>
             {% endif %}
            {% endfor %}
            <h3 class='products-item-title'><a href="{% url 'index:pc-detail' item.id %}">{{ item.title }}</a></h1>
            <p>{{ item.regular_price }} руб.</p>
            <i class="fas fa-2x fa-long-arrow-alt-right"></i>
        </div>
    {% endfor %}
    </section>
    <div class="row basket-row1" style="border:none;">
        <div class="col-12 text-center">
            {% if products.has_previous %}
            <a href="{{ category.get_absolute_url }}?page={{ products.previous_page_number }}" style="color: white; text-decoration: none;" class="mx-3">Предыдущая страница</a>
            {% endif %}
            {% if products.has_next %}
            <a href="{{ category.get_absolute_url }}?page={{ products.next_page_number }}" style="color: white; text-decoration: none;" class="mx-3">Следующая страница</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}