{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <div class="container-fluid basket-container">
        <div class="row basket-row text-center">
            <b><h1 class="mb-4">Политика конфиденциальности</h1></b>
                <h3 class="text-start mb-2">1. Общие положения</h3>
                <p class="text-start mb-2">Никому не рассказывать о бойцовском клубе</p>
                <h3 class="text-start mb-2">2. Дальнейшие положения</h3>
                <p class="text-start mb-2">Никому не рассказывать о бойцовском клубе</p>
        </div>
    {% endblock content %}