{% extends "base.html"%}
{% block content %}
{% for object in object %}

<style>
  .account-form input{
    padding: 50px 5px;
    margin: 50px 0px;
    width: 80%;
  }

  .modal_head {
    padding: 0;
  }
</style>

{% if user.is_authenticated %}
<div class="modal fade" id="download2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content mymodal-content rounded-5 text-center">
          <form action="." method="POST" class='account-form'>
          {% csrf_token %}
          {{ form.body }}
          <button type="submit" class="btn btn-outline-secondary mb-4">Опубликовать комментарий</button>
          </form>
    </div>
  </div>
</div>
{% else %}
<div class="modal fade" id="download2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content mymodal-content rounded-5">
      <div class="modal-header my-modal-header modal_head text-center">
         <h3 style="color:white" class="my-4">Вы должны быть авторизованы, чтобы оставить комментарий</h3>
      </div>
    </div>
  </div>
</div>
{%endif%}


<div class="container-fluid products-detail-nav" style="margin-bottom:50px;">
  <div class="row products-detail-row1">
    <div class="col-6 products-detail-column-1" style="padding: 0px">
      <nav class="navbar navbar-expand-lg" style="padding: 0px">
        <div class="container-fluid" style="padding: 0px">
          <button class="navbar-toggler mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span style='color:white;'><i class="fas fa-angle-down" style="color:white;"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="padding:0px">
            <div class="navbar-nav products-detail-nav-item">
              <a class="nav-link active" aria-current="page" href="#">Описание</a>
              <a class="nav-link" href="#specifications">Характеристики</a>
              <a class="nav-link" onclick="showmodal2()">Отзывы</a>
            </div>
          </div>
        </div>
      </nav>  
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <h3 class="price">{{ object.regular_price }} BYN</h3>  
    </div>
  </div>
  <div class="row products-detail-row2">
    <div class="col-lg">
      {% for image in object.product_image.all %}
      {% if image.is_feature %}
        <div class="big-image-container my-2 d-flex justify-content-center align-items-center">
            <img src="{{ image.image.url }}" alt="">
        </div>
      {% endif %}
      {% endfor %}
      <div class="small-images-container">
        <div class="small-images-container-inside">
          {% for image in object.product_image.all %}
          <img src="{{ image.image.url }}" alt="" width='120' height='150' class='small-image mb-2'>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-lg products-detail-column-2 my-2">
      <h1>{{ object.title }}</h1>
      <p class="my-4">{{ object.description }}</p>
      <h2 class='product-detail-price'>{{ object.regular_price}} BYN</h2>
      {% if object.is_available %}
      <button type="button" id='add-button' value='{{ object.id }}' class="btn btn-light my-4">В корзину</button>
      {% else %}
      <h1 style="color: white">Нет в наличии</h1>
      {% endif %}
    </div>
  </div>
<a id="specifications"></a>
  <div class="row products-detail-row3">
    <div class="col text-center">
      <h6 class='product-detail-about-title'>Характеристики</h6>
      <div class="product-details-collapse d-flex flex-column">
        <p class="btn btn-primary text-start product-details-button py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Основные
        </p>
        <div class="collapse" id="collapseExample">
            <div class="col text-start">
              {% for item in object.product_spec.all %}
               <p class='product-details-paragraph'>{{ item.specification }} - {{ item.value }}</p>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if comments %}
{% for comment in comments%}
<div class="row basket-row text-center" style='background-color: gray'>
  <div class="col basket-col">
      <p>Пользователь</p>
  </div>
  <div class="col basket-col">
      <p>Отзыв</p>
  </div>
  <div class="col basket-col">
      <p>Дата</p>
  </div>
</div>
<div class="row basket-row text-center" style="color: white;">
  <div class="col basket-col">
      <p>{{ comment.user }}</p>
  </div>
  <div class="col basket-col">
      <p>{{ comment.body }}</p>
  </div>
  <div class="col basket-col">
      <p>{{ comment.created }}</p>
  </div>
</div>
{% endfor %}
{% else %}
<div class="row basket-row" style="color: white">
  <b><h1>Об этом товаре пока нет отзывов</h1></b>
</div>
{% endif %}
{% endfor %}
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script>
  function showmodal2()
{
$("#download2").modal("show");
};
</script>
{% endblock content %}