{% extends "base.html"%}
{% block content %}
<div class="container-fluid products-detail-nav" style="margin-bottom:50px;">
  <div class="row products-detail-row1">
    <div class="col-6 products-detail-column-1" style="padding: 0px">
      <nav class="navbar navbar-expand-lg" style="padding: 0px">
        <div class="container-fluid" style="padding: 0px">
          <button class="navbar-toggler mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span style='color:white;'><i class="fas fa-angle-down" style="color:white;">Описание</i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="padding:0px">
            <div class="navbar-nav products-detail-nav-item">
              <a class="nav-link active" aria-current="page" href="#">Описание</a>
              <a class="nav-link" href="#specifications">Характеристики</a>
              <a class="nav-link" href="#">Отзывы</a>
            </div>
          </div>
        </div>
      </nav>  
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <h3 class="price">{{ object.regular_price }} BYN</h3>  
    </div>
  </div>
  <div class="row products-detail-row2">
    <div class="col-lg">
      {% for image in object.product_image.all %}
      {% if image.is_feature %}
        <div class="big-image-container my-2 d-flex justify-content-center align-items-center">
            <img src="{{ image.image.url }}" alt="">
        </div>
      {% endif %}
      {% endfor %}
      <div class="small-images-container">
        <div class="small-images-container-inside">
          {% for image in object.product_image.all %}
          <img src="{{ image.image.url }}" alt="" width='120' height='150' class='small-image mb-2'>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-lg products-detail-column-2 my-2">
      <h1>{{ object.title }}</h1>
      <p>{{ object.description }}</p>
      <h2 class='product-detail-price'>{{ object.regular_price}} BYN</h2>
      {% if object.is_available %}
      <button type="button" id='add-button' value='{{ object.id }}' class="btn btn-light">В корзину</button>
      {% else %}
      <h1 style="color: white">Нет в наличии</h1>
      {% endif %}
    </div>
  </div>
<a id="specifications"></a>
  <div class="row products-detail-row3">
    <div class="col text-center">
      <h6 class='product-detail-about-title'>Характеристики</h6>
      <div class="product-details-collapse d-flex flex-column">
        <p class="btn btn-primary text-start product-details-button py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Основные
        </p>
        <div class="collapse" id="collapseExample">
            <div class="col text-start">
              {% for item in object.product_spec.all %}
               <p class='product-details-paragraph'>{{ item.specification }} - {{ item.value }}</p>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}