{% extends 'base.html' %}
{% block content %}
    {% if searched %}
    <h1 class='search-page-identifier'>Найдено по запросу: {{ searched }}</h1>
    <section class="products-section">
        {% for item in products %}
            <div class="products-section-item">
                {% for image in item.product_image.all %}
                 {% if image.is_feature %}
                <img src="{{ image.image.url }}" alt="" width='330' height='330'>
                 {% endif %}
                {% endfor %}
                <h3 class='products-item-title'><a href="{% url 'index:pc-detail' item.id %}">{{ item.title }}</a></h1>
                <p>{{ item.regular_price }} руб.</p>
                <i class="fas fa-2x fa-long-arrow-alt-right"></i>
            </div>
        {% endfor %}
        </section>
    {% else %}
    <h1 class='nothing-found'>Извините, по вашему запросу ничего не найдено</h1>
    {% endif %}
{% endblock content %}