{% extends '../../base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center">
            <div class="register-container text-center">
                <form action="{% url 'account:login' %}" method="post" class="account-form">
                    {% csrf_token %}
                    <h3 class='mt-4' style="color: white;">Войдите в аккаунт</h3>

                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                        Ошибка: логин или пароль введены неверно!
                    </div>
                    {% endif %}
                    
                    <label style="display:block;" class="my-4">Введите email</label>
                    {{ form.username }}
                    <label style="display:block;" class="my-4">Введите пароль</label>
                    {{ form.password }}
                    <br>
                    <input type="hidden" name="next" value="{% url 'account:dashboard' %}">
                    <button class="btn btn-info my-4 register-button" type="submit" value="Log-in">Войти</button>
                    <p class="text-center">
                        <a href="{% url 'account:account-register' %}" style="text-decoration: none;">Создать аккаунт</a>
                    </p>
                    <p class="text-center my-2">
                        <a href="{% url 'account:pwdreset' %}" style="text-decoration: none;">Забыли пароль?</a>
                    </p>
                </form>
            </div>
                
        </div>
    </div>
</div>
{% endblock content %}